
.root {
    -fx-font-family: 'Calibri', 'Times New Roman';
    -fx-background-color: #2C2C2C;
    -fx-font-size: 18;
}

.label {
    -fx-text-fill: white;
}

#pathL:hover {
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
    -fx-border-radius: 14;
    -fx-background-radius: 14;
    -fx-padding: 7 14 7 14;
}

.button:hover {
    -fx-background-color: #005BB5;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: #004A99;
    -fx-text-fill: white;
}

.table-view {
    -fx-border-color: #004A99;
    -fx-border-width: 3;
}

.table-view .column-header {
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
}